@import "defaults";

.poker {
  display: flex;

  &__container {

    &__grid {
      height: 100%;
      flex: 4;
      display: grid;
      grid-template-columns: repeat(13, 1fr);
      grid-template-rows: repeat(13, 1fr);
      grid-gap: 1rem;
    }

    &__result {
      flex: 1;
    }
  }

}