@import "defaults";

.poker {
  height: 100%;

  &__container {
    display: flex;
    flex-direction: column;

    &__result {
      flex: 1;
      min-height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3rem;

      &__number {
        margin-left: 1rem;
        color: crimson;
      }
    }

    &__grid {
      box-shadow: 0 0 20px gray;
      padding: .5rem;
      height: 100%;
      flex: 1;
      display: grid;
      grid-template-columns: repeat(13, 1fr);
      grid-template-rows: repeat(13, 1fr);
      grid-gap: 1rem;

      &__btn.played {
        background: rgb(255, 150, 150);
      }

      &__btn {
        cursor: pointer;
        border: none;
        padding: .4rem .5rem;
        background: rgb(226, 226, 226);
        border-radius: .5rem;
      }
    }
  }

}